<% if @items.nil? %>
    <table>
        <%@items.each do |i|%>
        <tr valign="top">
            <td><%=i.id%></td>
            <td><%=i.name%></td>
            <td><%=i.description%></td>
            <td><%=i.cost_Day%></td>
            <td><%=i.cost_week%></td>
        </tr>
        <%end%>
    </table>
<% end %>
